*{  
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

.header-container{
    display: flex;

    justify-content: space-between;
    background-color: #E554731A;
    background-size: 100vh;
}


.title-section{
    color: #272727;
    padding: 180px 98px 0px 230px;

/* font-size: 80px; */
/* text-align: center; */
/* font-weight: 800; */
}

/* ====== header-title ====*/

.title{
    color: #272727;
    font-size: 75px;
    font-weight: 800;

}

/* ====== header-description ====*/

.title-description{
    color: #27272799;
    font-size: 17px;
    line-height: 30px;
    margin: 32px 0px 32px 0px;
}

/* ====== header-shop Now-button ====*/

.primary-btn{
    color: #FFF;
font-size: 20px;
font-weight: 700;
border-radius: 8px;
background: #E55473;
display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border: none;

}


/* ====== header-image ====*/

.header-image{
    width: 639px;
    height: 800px;
    padding: 120px 150px 0px 0px;
}
/* ====== header-section finish ====*/


/* ======================== */

.sale-container{
    background-size: 100vh;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    background: #e554730d;
}


.sale-up-section{
text-align: center;
color: #272727;
padding: 230px 0px 258px 600px;
/* font-size: 40px; */
/* font-weight: 800; */

}

.sale-up-title{
    font-size: 40px;
    font-weight: 800;

}

.sale-up-title-highlight{
         color: #E55473;
}



.top-sale-product-image{
    width: 318px;
    height: 420px;
    padding: 120px 600px 0px 320px;
}

/* ==============social-media-section========== */

.social-media-section{
    text-align: center;
}


.social-media-name{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding: 120px 0px 0px;
}

.more-flowers-section{
    text-align: center;
    padding: 5px 10px;
    margin: 10px;
}

.more-flowers-section img{
    margin: 15px;
}

