*{  
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

.header-container{
    display: flex;

    justify-content: space-between;
    background-color: #E554731A;
    background-size: 100vh;
}


.title-section{
    color: #272727;
    padding: 180px 98px 0px 230px;

/* font-size: 80px; */
/* text-align: center; */
/* font-weight: 800; */
}

/* ====== header-title ====*/

.title{
    color: #272727;
    font-size: 75px;
    font-weight: 800;

}

/* ====== header-description ====*/

.title-description{
    color: #27272799;
    font-size: 17px;
    line-height: 30px;
    margin: 32px 0px 32px 0px;
}

/* ====== header-shop Now-button ====*/

.primary-btn{
    color: #FFF;
font-size: 20px;
font-weight: 700;
border-radius: 8px;
background: #E55473;
display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border: none;
cursor: pointer;
}


/* ====== header-image ====*/

.header-image{
    width: 639px;
    height: 800px;
    padding: 120px 150px 0px 0px;
}
/* ====== header-section finish ====*/




/* ===  Our Featured Flowers start === */


.our-featured-flowers-item{
    color: #272727;
text-align: center;
font-size: 30px;
font-weight: 400;
padding-top: 100px;

}




.different-flowers-item{
    
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 145px;
    margin: 55px;

}


.backgrund-a{
    width: 300px;
    height: 428px;
    padding: 100px 60px 0px 60px;
    background-color: #0597A026;
    border-radius: 300px 300px 0px 0px;

}

.backgrund-b{
    width: 300px;
    height: 428px;
    padding: 100px 60px 0px 60px;
    background-color: #A7216226;
    border-radius: 300px 300px 0px 0px;
    
}


.backgrund-c{
    width: 310px;
    height: 428px;
    padding: 100px 60px 0px 60px;
    border-radius: 300px 300px 0px 0px;
    background: #477D1126;
    
}



figcaption{
color: #272727;
text-align: center;
font-size: 40px;
font-weight: 700;
line-height: 60px;
text-decoration-line: underline;
}


/* ===  Our Featured Flowers end === */









/* ======================== */

.sale-container{
    background-size: 100vh;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    background: #e554730d;
}


.sale-up-section{
text-align: center;
color: #272727;
padding: 230px 0px 258px 200px;


}

.sale-up-title{
    font-size: 40px;
    font-weight: 800;

}

.sale-up-title-highlight{
         color: #E55473;
}



/* ===  top-sale-product-image   ==== */


.top-sale-product-image{
    width: 318px;
    height: 420px;
    padding: 120px 350px 0px 30px;
} 



/* ========   social-media-section   ====== */

.social-media-section{
    text-align: center;
}


.social-media-name{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding: 120px 0px 0px;
}

.more-flowers-section{
    text-align: center;
    padding: 5px 10px;
    margin: 10px;
}
/* ===== more-flowers == */

.more-flowers-section img{
    margin: 10px;
}



/* ==== latest-deals background image === */

.latest-deals{
    width: 1670px;
    height: 469px;
    margin: 120px;
    background-image: url('./images/latest-deals.png');
    background-repeat: no-repeat;
    background-position: center;

}



/* === latest-deals-item === */

.latest-deals-item{
color: #272727;
text-align: center;
justify-content: center;
padding: 100px;

}



/* ===  latest-deals-title ==== */


.latest-deals-title{
font-size: 40px;
font-weight: 800;


}

/* === email-summit === */

.email-summit{

    width: 708px;
    height: 38px;
    padding: 10px;
    border: none;
    margin: 10px;
    border-radius: 8px;
    background: #FFF;
}




/* == footer-section */


.flowershop-section{
    background-color:#111010;
    text-align: center;
    width: 1922px;
    height: 449px;

}
.flowershop-footer-title{
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    padding: 100px 100px 5px;

}

.footer-title-highlight{
    color: #FFF;
}


.footer-title-description{

    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}





.footer-rights-reserved-description{

color: #FFFFFF66;
text-align: center;
font-size: 16px;
font-weight: 400;
}